body {
    background: linear-gradient(#393E46, #092635);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
}

.invisible {
    display: none;
    visibility: hidden;
}

.final_btn_1 {
    text-align: center;
}

/* ....................top....................... */
.t_flex {
    align-items: baseline;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 6rem;
    color: #4ECCA3;
    font-family: 'Lobster', cursive;
    margin-top: 2%;
    margin-bottom: 5%;
    transition: ease-in 0.3s;
    transition: ease-out 0.3s;


}
h1:hover{
    color:  #2eaa81;
}

/* ..................middle....................... */
.m_flex {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin: 0%;
    padding: 0%;

}


img {
    border-radius: 50px;
    background: linear-gradient(#393E46, #092635);
    box-shadow: 10px 10px 42px rgb(24, 24, 24),
        -10px -10px 42px rgb(24, 24, 24);
    transition: ease-in 0.3s;
}
img:hover{
    transform: scale(1.02);
}

h3 {
    z-index: 1;
    font-size: 20px;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

.bestere {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

button {
    z-index: 1;
    margin-top: 12px;
    font-size: 20px;
    border-radius: 50%;
    background: linear-gradient(#4ECCA3, #5aedbc);
    font-family: 'Indie Flower', cursive;
    transition: ease-in 0.3s;

}

button:hover {
    transform: scale(1.4);
}

/* ..................bottom....................... */
.b_flex {
    align-items: baseline;
    justify-content: center;
    text-align: center;
}

@media (max-width:480px) {
    body {
        height: 100vh;
    }

    .m_flex {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 50% 50%;

    }

    .dice_1 {
        margin-top: 10px;
        grid-area: 1/2/2/3;
    }

    .dice_2 {
        margin-top: 10px;
        grid-area: 2/2/3/3;
    }

    .bestere {
        margin: 0%;
        padding: 0%;
    }

    img {
        width: 30px;
    }



}