body {
    background:linear-gradient(#393E46,#092635) ;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
}
.invisible{
    display: none;
    visibility: hidden;
}
.final_btn_1{
    text-align: center;
}
/* ....................top....................... */
.t_flex {
    align-items: baseline;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 6rem;
    color: #4ECCA3;
    font-family: 'Lobster', cursive;
    margin-top: 2%;
    margin-bottom: 5%;

}

/* ..................middle....................... */
.m_flex {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin: 0%;
    padding: 0%;

}

.dice_1 {
    text-align: right;
    margin-right: 7%;
}

.dice_2 {
    text-align: left;
    margin-left: 7%;
}

img {
    width: 200px;
}

h3 {
    font-size: 20px;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

.bestere {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
button{
    margin-top: 12px;
    font-size: 20px;
    border-radius: 50%;
    background: linear-gradient(#4ECCA3,#5aedbc);
    font-family: 'Indie Flower', cursive;
}
button:hover{
    transform: scale(1.4);
}

/* ..................bottom....................... */
.b_flex {
    align-items: baseline;
    justify-content: center;
    text-align: center;
}